@import './bootstrap/variables.less';

.player-container{
  height:500px;
  background:#0a0a0a;
}
.player{
  height:200px;
  background:#0a0a0a;
  padding:10px;
  .control{
    height: 100px;
    padding:20px;
    font-size: 50px;
  }
}

.detail{
  color:white;
  background:#171717;
  padding-bottom:10px;
  margin-bottom: 20px;
}

.song-notifier{
  .playing{
    color:darkslategrey;
  }
}
.play-pause{

  .control{
    font-size: 50px;
    color: #7cb341;
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
  }
}
.social-buttons{
  font-size:20px;
  color:white !important;
}
.social-settings{
  background:#111111;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: -10px !important;
  margin-left: -10px !important;
  color:white !important;
}
@media (max-width: @screen-sm) {
  .control .backward{
    left: 10px;
  }
  .control .forward{
    right: 35px;
  }
  .play-pause{
    height:100px;
    .control{
      font-size: 50px;
      color: #7cb341;;
    }
  }
}
